# Dataset
isaid/
rrsisd/
refsegrs
*.zip
*.tar
*.gz
patches
patches_modified
patches*
.env
gemma_pytorch
llm_crops
llm_crops_descriptions
llm_crops_enhanced_expressions
llm_crops_combined_output
sota
SOTA
dataset*
temp*
debug*
gemini_finetuning_data
gemini_triplet_finetuning_data
gen-lang*
google-cloud-sdk
aeriald.zip
patch_visualization
.vscode
LoveDA*
melbourne_1945_tiles/
deepglobe/